<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconSystemGenerated</key>
			<true/>
			<key>CFBundleTypeName</key>
			<string>Изображение</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
				<string>public.jpeg</string>
				<string>public.png</string>
				<string>public.heic</string>
				<string>public.heif</string>
				<string>public.tiff</string>
				<string>public.avif</string>
				<string>com.compuserve.gif</string>
				<string>com.microsoft.bmp</string>
				<string>org.webmproject.webp</string>
				<string>com.microsoft.ico</string>
				<string>com.adobe.photoshop-image</string>
				<string>public.svg-image</string>
				<string>com.adobe.raw-image</string>
				<string>com.canon.cr2-raw-image</string>
				<string>com.canon.cr3-raw-image</string>
				<string>com.nikon.raw-image</string>
				<string>com.sony.arw-raw-image</string>
				<string>com.fuji.raw-image</string>
				<string>com.olympus.raw-image</string>
				<string>com.panasonic.rw2-raw-image</string>
				<string>public.camera-raw-image</string>
			</array>
		</dict>
	</array>
	<key>LSMultipleInstancesProhibited</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>ru</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>ru</string>
	</array>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict><key>default</key><string>Открыть в Mishi Glance</string></dict>
			<key>NSMessage</key>
			<string>openFromFinder</string>
			<key>NSPortName</key>
			<string>Mishi Glance</string>
			<key>NSRequiredContext</key>
			<dict><key>NSTextContent</key><string>FilePath</string></dict>
			<key>NSSendFileTypes</key>
			<array><string>public.image</string></array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict><key>default</key><string>Конвертировать в JPEG</string></dict>
			<key>NSMessage</key>
			<string>convertToJPEGFromFinder</string>
			<key>NSPortName</key>
			<string>Mishi Glance</string>
			<key>NSRequiredContext</key>
			<dict><key>NSTextContent</key><string>FilePath</string></dict>
			<key>NSSendFileTypes</key>
			<array><string>public.image</string></array>
		</dict>
	</array>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
